---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main id="main" class="site-main">
    <div class="container">
      <div
        class="flex items-center"
        data-aos="fade-right"
        data-aos-delay="500"
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
      >
        <div class="w-full bg-neutral-200 px-8 py-12">
          <h2 class="heading-serif text-6xl font-bold">Main Body</h2>
          <div x-data="dropdown" class="my-8 py-8">
            <button
              @click="toggle"
              class="inline-block cursor-pointer rounded rounded-s-sm bg-blue-500 px-8 py-4 text-white drop-shadow-2xl"
              >Klik</button
            >
            <div x-show="open" class="bg-amber-100 p-8">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, in
              debitis. Blanditiis, sunt possimus aliquid quas optio eveniet,
              minus magnam laboriosam amet repellendus officiis reprehenderit
              officia tempora quae aperiam sit.
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
