---

---

<header id="masthead" class="site-header">
  <div class="container">
    <div
      class="flex items-center justify-between"
      data-aos="fade-down"
      data-aos-delay="50"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
    >
      <div class="w-full bg-neutral-300 px-8 py-12">
        <h1 class="text-5xl font-bold">Header</h1>
      </div>
    </div>
  </div>
</header>
